{% extends 'shop/base.html' %}
{% block content %}
<div class="product-detail-container" style="padding: 40px; display: flex; gap: 40px; color: white;">
    <img src="{{ product.image.url }}" style="max-width: 500px; border-radius: 10px; border: 2px solid #c5a059;">
    <div>
        <h1 style="color: #c5a059;">{{ product.name }}</h1>
        <p style="font-size: 1.2rem; line-height: 1.6;">{{ product.description }}</p>
        <div style="font-size: 2rem; color: #39ff14; margin: 20px 0;">{{ product.price }} ₽</div>
        
        <div style="display: flex; gap: 15px; align-items: center; margin-top: 30px;">
            <a href="{% url 'cart_add' product.pk %}" style="background: var(--gold); color: black; padding: 15px 30px; text-decoration: none; font-weight: bold; border-radius: 5px; font-size: 1.2rem; transition: 0.3s;">
                🛒 ДОБАВИТЬ В КОРЗИНУ
            </a>
            
            <a href="{% url 'index' %}" class="btn" style="text-decoration: none; padding: 15px 20px; background: #333; color: white; border-radius: 5px; border: 1px solid #555;">
                Назад в каталог
            </a>
        </div>
    </div>
</div>
{% endblock %}